<!doctype html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="images/dino-favicon.png">
	<link rel="icon" href="images/dino-favicon.png">
	<title>SAPNA PATEL | ABOUT</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
	<link href="styles.css" rel="stylesheet">
</head>
<body id="about-page">
	<header id="topNav">
		<nav>
			<a id="logo-block" href="/">
					<img id="dino" src="images/dino2.png">
					<img src="images/dino-text.png">
				</a>
			<ul id="main-nav">
				<li>
					<a href="/">work</a>
				</li>
				<li>
					<a href="/about">about</a>
				</li>
				<li>
					<a href="images/sapnapatel_resume.pdf" target="_blank" id="download">resume</a>
				</li>
			</ul>
		</nav>
	</header>
	<div id="about-content">
		<div id="about-info">
			<h1>About Me</h1>
			<p> I am a recent graduate and designer based out of the NYC area.  I am currently working for <a href="http://www.sesameworkshop.org/">Sesame Workshop</a> supporting the design and programming of Sesame Street S'MORE Digital Magazine for kids.<br><br>I am also a part time scuba diver, DIY aficionado, and animated film buff.</p>
		</div>
		<div id="links">
				<h2>Follow Me</h2>
				<a href="https://www.behance.net/sapnap" target="_blank"><img class="framed" src="images/behance1.png"></a>
				<a href="https://www.linkedin.com/in/sapnampatel" target="_blank"><img class="framed" src="images/linkedin.png"></a>
				<a href="http://sapnap.tumblr.com/" target="_blank"><img class="framed" src="images/tumblr.png"></a>
			</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
</body>