<!doctype html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="images/dino-favicon.png">
	<link rel="icon" href="images/dino-favicon.png">
	<title>SAPNA PATEL | DRAWING</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
	<link href="styles.css" rel="stylesheet">
</head>
<body>
	<header id="topNav">
		<nav>
			<a id="logo-block" href="/">
					<img id="dino" src="images/dino2.png">
					<img src="images/dino-text.png">
				</a>
			<ul id="main-nav">
				<li>
					<a href="/">work</a>
				</li>
				<li>
					<a href="/about">about</a>
				</li>
				<li>
					<a href="images/sapnapatel_resume.pdf" target="_blank" id="download">resumé</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="style2 project-page drawing">
		<div class="intro">
			<h2 class="project-title">DRAWING</h2>
			<p class="project-info">A mix of pencil, colored pencil, pastels, and charcoal.</p>  
		</div>
		<div id="img-gal">
			{{#each drawings}}
				<div class="photo">
					<img class="drawing_img framed" src="images/drawing/{{link}}">
				</div>
			{{/each}}
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
</body>