<!doctype html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="images/dino-favicon.png">
	<link rel="icon" href="images/dino-favicon.png">
	<title>SAPNA PATEL | SOUNDBOARD</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
	<link href="styles.css" rel="stylesheet">
</head>
<body>
	<header id="topNav">
		<nav>
			<a id="logo-block" href="/">
					<img id="dino" src="images/dino2.png">
					<img src="images/dino-text.png">
				</a>
			<ul id="main-nav">
				<li>
					<a href="/" class="smoothScroll">work</a>
				</li>
				<li>
					<a href="/about" class="smoothScroll">about</a>
				</li>
				<li>
					<a href="images/sapnapatel_resume.pdf" target="_blank" id="download">resumé</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="style2 project-page soundboard">
		<div class="intro">
			<div id="soundboard-intro">
				<h2 class="project-title">SoundBoard</h2>
				<h4 class="project-type">Web Design, UI Design</h4>
				<p class="project-info">For an HCI Studio Design course, I worked with two other students to design and build a web app.  Our assignment was to create an app which could solve a communication problem using rich media.  We chose to create <strong>SoundBoard</strong>, a platform which helps amateur musicians connect and exchange feedback through live video practice sessions.  As the Design Lead for SoundBoard, I was responsible for establishing much of the look and feel of the app.  My team and I also held several rounds of user testing which we used to pivot our design and refine the app's usability.  <br><br>Our efforts earned us the <strong>Judges' Choice Award</strong> at our final project fair.</p>
				<!-- <iframe width="420" height="315" src="//www.youtube.com/embed/xfPPPPzpSAc" frameborder="0" allowfullscreen></iframe> -->
				<a href="http://thesoundboard.herokuapp.com/" target="_blank"><button id="view-btn" class="btn">View app</button></a>
			</div>
			<iframe width="420" height="315" src="//www.youtube.com/embed/xfPPPPzpSAc" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="task one">
			<div class="blurb">
				<h4 class="task-title">Wireframing</h4>
				<p class="task-text">We went through many iterations which required me to wireframe whenever we tweaked or added features.</p>
			</div>
			<div class="blurb-photos">
				<img class="framed" src="images/soundboard/soundboard_WF-02.png">
				<img class="framed" src="images/soundboard/soundboard_WF-03.png">
				<img class="framed" src="images/soundboard/soundboard_WF-01.png">
			</div>
		</div>
		<div class="task two">
			<div class="blurb">
				<h4 class="task-title">Logo and Color Scheme</h4>
				<p class="task-text">I created the logo and chose the color scheme to establish the look and feel of our app.  I wanted to create a front-end that was clean but still but still reminiscent of a recording studio.</p>
			</div>
			<div class="blurb-photos">
				<img id="s_logo" style="background:transparent; border:none" src="images/soundboard/soundboard_logo.png">
				<img id="palette" class="framed" src="images/soundboard/swatch.png">
			</div>
		</div>
		<div class="task one">
			<div class="blurb">
				<h4 class="task-title">Front-end Design</h4>
				<p class="task-text">Once the color scheme and page layouts were finalized, I implemented the front-end HTML and CSS. </p>
			</div>
			<div class="blurb-photos">
				<img class="framed" src="images/soundboard/ss_1.png">
				<img class="framed" src="images/soundboard/ss_2.png">
				<img class="framed" src="images/soundboard/ss_3.png">
			</div>
			
		</div>
		<div class="task two">
			<div class="blurb">
				<h4 class="task-title">Illustration</h4>
				<p class="task-text">I illustrated icons of musical instuments to be used as part of each user's profile.  We wanted to make it quick and easy to identify other musicians who shared their instrument. </p>
			</div>
			<div class="instruments">
				<img id="instrument" class="framed" src="images/soundboard/cello.png">
				<img id="instrument" class="framed" src="images/soundboard/drum.png">
				<img id="instrument" class="framed" src="images/soundboard/guitar.png">
				<img id="instrument" class="framed" src="images/soundboard/voice.png">
				<img id="instrument" class="framed" src="images/soundboard/violin.png">
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
</body>